/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#80808D;
	font-family: Arial;
	margin: 10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: ;
	}
body{
	background:none;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.logo{
	margin-top: 10px;
	margin-right: 7px;
	width: 18%;
	height: 10%;
	background: #e6e6e6;
  
}
.contenedor {
	background-color: white;
	width: 80%;
	height: 100%;
	margin: 0 auto;
    box-sizing: border-box;
    
}
.form{
	margin: 0 auto;
	box-shadow: 0 0 10px gray;
	border-radius: 5px;
	padding: 5em;
	box-sizing: border-box;
	width: 45%;
	
}
.form label{
	display: block;
}
.form div{
	margin-top: .3em;

}
.form .btn{
	border-radius: 30px;
	padding: .6em 1em;
	cursor: pointer;
	background-color: #3966D7;
	color: white;
	width: 30%;

}
.centrado{

	text-align: center;
}
input, textarea {
	margin-bottom: 20px;
	width: 90%;
	padding: 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border-radius: : 2px solid:#fff;
{

	